<configuration>
  <configSections>
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common" />
    <section name="TcmDebugger" type="TcmDebugger.Misc.DebuggerConfig, TcmDebugger" />
  </configSections>
	<TcmDebugger>
		<database name="database-name" server="database-server" username="database-user" password="database-password" />

		<logging level="Verbose" includeTridionClasses="true" />
		
		<templating schemaCache="" enableImpersonation="false" impersonationIdentity="" />
		
		<cms url="http://cms/" localPort="9090" previewDirectory="D:\temp\preview" />
		
		<debugging enableBreakpoint="true">		
			<debugAssembly name="CompanyName.Templating" />
			<debugAssembly name="D:\Workspace\Code\Tridion\Templating.Test\bin\Debug\Templating.Test" />
		</debugging>
  </TcmDebugger>
  <tridionConfigSections>
    <sections>
      <clear/>
      <add filePath="config\Tridion.ContentManager.config"/>
    </sections>
  </tridionConfigSections>
</configuration>
