<configuration>
  <configSections>
    <section name="database" type="Tridion.ContentManager.Data.AdoNet.Sql.Configuration.SqlDbConfiguration, Tridion.ContentManager.Data.AdoNet.Sql" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="true" />
    <section name="tridionConfigSections" type="Tridion.Configuration.ConfigurationSections, Tridion.Common" />
    <section name="tridion.common" type="Tridion.Configuration.CommonSettings, Tridion.Common" />
    <section name="templateTypeRegistry" type="Tridion.ContentManager.TemplateTypes.Configuration.TemplateTypeRegistry, Tridion.ContentManager.TemplateTypes" />
    <section name="typeRegistry" type="Tridion.ContentManager.TypeRegistration.Configuration.TypeRegistrySection, Tridion.ContentManager.TypeRegistration" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
    <section name="resolving" type="Tridion.ContentManager.Publishing.Resolving.Configuration.ResolvingConfiguration, Tridion.ContentManager.Publishing" />
    <section name="rendering" type="Tridion.ContentManager.Publishing.Rendering.Configuration.RenderingConfiguration, Tridion.ContentManager" />
    <section name="publisher" type="Tridion.ContentManager.Publishing.Publisher.Configuration.PublisherConfiguration, Tridion.ContentManager.Publishing" />
    <section name="tridion.contentmanager.security" type="Tridion.ContentManager.Security.Configuration.ContentManagerSecurityConfiguration, Tridion.ContentManager" />
    <section name="tridion.security" type="Tridion.Security.Configuration.SecurityConfiguration, Tridion.Common" />
    <section name="tridion.templating" type="Tridion.ContentManager.Templating.Configuration.TemplatingSettings, Tridion.ContentManager.Templating" />
    <section name="tridion.contentmanager" type="Tridion.ContentManager.Configuration.GeneralConfiguration, Tridion.ContentManager" />
    <section name="eventSystem" type="Tridion.ContentManager.Extensibility.Configuration.EventSystemConfiguration, Tridion.ContentManager" />
    <section name="extensions" type="Tridion.ContentManager.Extensibility.Configuration.ExtensionsConfiguration, Tridion.ContentManager" />
  </configSections>
  <database server="" name="" username="" password="" authenticationMethod="Normal" commandTimeout="500" />
  <tridionConfigSections>
    <sections>
      <clear/>
      <add name="typeRegistry" filePath="" />
      <add name="loggingConfiguration" />
    </sections>
  </tridionConfigSections>
  <tridion.common>
    <localization loggingCulture="en-us">
      <resources>
        <add baseName="Tridion.ContentManager.Localization.Resources" assembly="Tridion.ContentManager.Localization" />
      </resources>
    </localization>
    <tracing enabled="false">
      <parameterValueTruncation default="50">
        <parameterTypes>
          <clear/>
          <!-- Do not remove or change the settings for type System.Data.IDataRecord -->
          <add type="System.Data.IDataRecord" assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" maxLength="0" />
        </parameterTypes>
      </parameterValueTruncation>
    </tracing>
  </tridion.common>
  <templateTypeRegistry>
    <templateTypes>
      <clear/>
      <add id="4" name="CompoundTemplate" titleResource="lblCompoundTemplate" mimeType="text/x-tcm-compound" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Compound.CompoundTemplateContentHandler, Tridion.ContentManager.Templating">
        <webDavFileExtensions>
          <add itemType="ComponentTemplate" fileExtension="tctcmp" />
          <add itemType="PageTemplate" fileExtension="tptcmp" />
          <add itemType="TemplateBuildingBlock" fileExtension="tbbcmp" />
        </webDavFileExtensions>
      </add>
      <add id="3" name="XSLT" mimeType="text/xml" hasBinaryContent="false" contentHandler="Tridion.ContentManager.TemplateTypes.Legacy.XsltTemplateContentHandler, Tridion.ContentManager.TemplateTypes">
        <webDavFileExtensions>
          <add itemType="ComponentTemplate" fileExtension="tctx" />
          <add itemType="TemplateBuildingBlock" fileExtension="tbbx" />
        </webDavFileExtensions>
      </add>
      <add id="5" name="AssemblyTemplate" titleResource="lblAssemblyTemplate" mimeType="application/x-tcm-assembly" hasBinaryContent="true" contentHandler="Tridion.ContentManager.Templating.Assembly.AssemblyContentHandler, Tridion.ContentManager.Templating">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="tbbasm" />
        </webDavFileExtensions>
      </add>
      <add id="6" name="CSharpTemplate" titleResource="lblCSharpTemplate" mimeType="text/x-tcm-csharpfragment" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Assembly.CSharpSourceCodeContentHandler, Tridion.ContentManager.Templating">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="tbbcs" />
        </webDavFileExtensions>
      </add>
      <add id="7" name="DreamweaverTemplate" titleResource="lblDreamweaverTemplate" mimeType="text/x-tcm-dreamweaver" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Dreamweaver.DreamweaverContentHandler, Tridion.ContentManager.Templating">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="dwt" />
        </webDavFileExtensions>
      </add>
      <add id="10" name="XsltTemplate" titleResource="lblXsltTemplate" mimeType="text/xsl" hasBinaryContent="false" contentHandler="Tridion.ContentManager.Templating.Xslt.XsltTemplateContentHandler, Tridion.ContentManager.Templating, Version=7.1.0.1290, Culture=neutral, PublicKeyToken=360aac4d3354074b">
        <webDavFileExtensions>
          <add itemType="TemplateBuildingBlock" fileExtension="xslt" />
        </webDavFileExtensions>
      </add>	  
      <add id="1" name="VBScript" mimeType="text/plain" titleResource="lblVBscriptTemplate" hasBinaryContent="false" contentHandler="Tridion.ContentManager.TemplateTypes.Legacy.ScriptedTemplateContentHandler, Tridion.ContentManager.TemplateTypes">
        <webDavFileExtensions>
          <add itemType="ComponentTemplate" fileExtension="tcts" />
          <add itemType="PageTemplate" fileExtension="tpts" />
          <add itemType="TemplateBuildingBlock" fileExtension="tbbs" />
        </webDavFileExtensions>
      </add>
      <add id="2" name="JScript" mimeType="text/plain" titleResource="lblJScriptTemplate" hasBinaryContent="false" contentHandler="Tridion.ContentManager.TemplateTypes.Legacy.ScriptedTemplateContentHandler, Tridion.ContentManager.TemplateTypes">
        <webDavFileExtensions>
          <add itemType="ComponentTemplate" fileExtension="tcts" />
          <add itemType="PageTemplate" fileExtension="tpts" />
          <add itemType="TemplateBuildingBlock" fileExtension="tbbs" />
        </webDavFileExtensions>
      </add>
    </templateTypes>
  </templateTypeRegistry>
  <loggingConfiguration name="Logging Application Block" defaultCategory="General" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="Tridion Console Trace Listener" formatter="Trace Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Tridion.Logging.TridionConsoleTraceListener, Tridion.Logging" initializeData="" />
      <add name="Tridion Debug Trace Listener" formatter="Trace Text Formatter" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="Tridion.Logging.TridionDebugTraceListener, Tridion.Logging" initializeData="" />
    </listeners>
    <formatters>
      <add name="Log Text Formatter" template="{timestamp} &lt;{win32ThreadId}&gt; {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
      <add name="Trace Text Formatter" template="{timestamp(HH:mm:ss.ffff)} &lt;{win32ThreadId}&gt; {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Tridion.Logging.LoggingCategory.Tracing">
        <listeners>
          <add name="Tridion Debug Trace Listener"/>
        </listeners>
      </add>
      <add switchValue="All" name="Tridion.ContentManager.LogCategory">
        <listeners>
					<!--
          <add name="Tridion Console Trace Listener" />
					-->
        </listeners>
      </add>
      <add switchValue="All" name="General" />
    </categorySources>
    <specialSources>
      <allEvents switchValue="Warning" name="All Events">
        <listeners>
					<!--
          <add name="Tridion Console Trace Listener" />
					-->
        </listeners>
      </allEvents>
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <resolving>
    <mappings>
      <clear/>
      <add itemType="Tridion.ContentManager.CommunicationManagement.Page">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PageResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.PageTemplate">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PageTemplateResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Component">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.ComponentResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.ComponentTemplate">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.ComponentTemplateResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.Publication">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.PublicationResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.CommunicationManagement.StructureGroup">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.StructureGroupResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
      <add itemType="Tridion.ContentManager.ContentManagement.Category">
        <resolvers>
          <add type="Tridion.ContentManager.Publishing.Resolving.CategoryResolver" assembly="Tridion.ContentManager.Publishing" />
        </resolvers>
      </add>
    </mappings>
  </resolving>
  <rendering previewPath="D:\Temp\Preview\">
    <cache maxObjects="-1" defaultMaxObjectsPerRegion="50">
      <regions>
        <add name="Component" maxObjects="500"/>
      </regions>
    </cache>
    <renderers>
      <!--
			<add type="Tridion.ContentManager.Publishing.Legacy.Rendering.PageRenderer" assembly="Tridion.ContentManager.Publishing.Legacy"/>
			<add type="Tridion.ContentManager.Publishing.Legacy.Rendering.ComponentPresentationRenderer" assembly="Tridion.ContentManager.Publishing.Legacy"/>
			-->
      <add type="Tridion.ContentManager.Templating.TemplatingRenderer" assembly="Tridion.ContentManager.Templating" />
      <add type="Tridion.ContentManager.Publishing.Rendering.TaxonomyRenderer" assembly="Tridion.ContentManager.Publishing" />
      <add type="Tridion.ContentManager.Publishing.Rendering.StructureGroupRenderer" assembly="Tridion.ContentManager.Publishing" />
    </renderers>
  </rendering>
  <tridion.templating cmePreviewUrl="/WebUI/Editors/CME/Views/Popups/Preview/Preview.aspx">
    <debugging pdbDirectory="F:\Tridion\Temp\" force32Bit="false"/>
    <mediators>
      <mediator matchMIMEType="application/x-tcm-assembly" type="Tridion.ContentManager.Templating.Assembly.AssemblyMediator" />
      <mediator matchMIMEType="text/x-tcm-dreamweaver" type="Tridion.ContentManager.Templating.Dreamweaver.DreamweaverMediator" />
      <mediator matchMIMEType="text/x-tcm-compound" type="Tridion.ContentManager.Templating.Compound.CompoundTemplateMediator" />
      <mediator matchMIMEType="text/x-tcm-csharpfragment" type="Tridion.ContentManager.Templating.Assembly.CSharpSourceCodeMediator" />
	    <!-- XSLT Mediator is only available in 2013+ -->
	    <!-- <mediator matchMIMEType="text/xsl" type="Tridion.ContentManager.Templating.Xslt.XsltMediator" /> -->
    </mediators>
    <functionSources>
      <functionSource type="Tridion.ContentManager.Templating.Expression.BuiltInFunctions"/>      
    </functionSources>
    <defaultTemplatesScripts>
      <defaultTemplatesScript scriptFile="SetupDefaultTemplates.xml"/>
    </defaultTemplatesScripts>
  </tridion.templating>
  <typeRegistry>
    <publicationTypes>
      <!-- 
      Constraints: 
          1) id and name attribute is unique. 
          2) id > 1024. Numbers below 1024 are reserved.
          3) titleResource is optional. if titleResource is not provided then the value specified in name will be used as PublicationType.Title
      -->
      <add id="1" name="Content" titleResource="lblContentPublicationType" />
      <add id="2" name="Web" titleResource="lblWebPublicationType" />
      <add id="4" name="Mobile" titleResource="lblMobilePublicationType" />
    </publicationTypes>
  </typeRegistry>
  <tridion.contentmanager>
    <repository categoryEnumerationLimit="0" />
    <license licenseFilePath="license.xml" />
    <session transactionTimeout="120" />
  </tridion.contentmanager>
  <tridion.contentmanager.security allowAutomaticUserCreation="true" hideOrganizationalItemsNoAccess="false" allowWriteOperationsInTemplates="true">
    <impersonationUsers>
      <clear />
      <add name="NT AUTHORITY\NETWORK SERVICE" impersonationType="Windows" />
      <add name="NT AUTHORITY\SYSTEM" impersonationType="Windows" />
    </impersonationUsers>
  </tridion.contentmanager.security>
  <extensions>
  </extensions>
  <system.net>
    <settings>
      <!--Set to true in order to get the exception details from the Search Service. When exception occurs inside solr, solr responses with multiple status line.
      To handle response with multiple status line this property should be set to true else we get a protocol violation exception
      More details: http://msdn.microsoft.com/en-us/library/system.net.configuration.httpwebrequestelement.useunsafeheaderparsing.aspx-->
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>
